@import "../../styles/vars";
@import "../../styles/mixin";
.info {
    padding: 15px;
    border: 1px solid #ccc;
    display: flex;
    @include sp {
        display: block;
    }
    &__left {
        margin-right: 15px;
        min-width: 150px;
        img {
            max-width: 100%;
            height: auto;
        }
        @include sp {
            margin-right: 0;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    &__right {
    }
    &__title {
        font-size: 2rem;
        color: $color1;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 1.6rem;
        color: $color1;
        line-height: 1.6;
        text-align: justify;
    }
}
