@import "../../styles/vars";
@import "../../styles/mixin";
.header {
    height: 80px;
    @include sp {
        height: 60px;
    }
    &__fixed {
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        @include sp {
            height: 60px;
        }
    }
    &__inner {
        max-width: $baseWidth1;
        height: 100%;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        @include sp {
            img {
                max-width: 120px;
            }
        }
    }
    &__navi {
        ul {
            li {
                display: inline-block;
                margin-left: 20px;
                &:first-of-type {
                    margin-left: 0;
                }
                @include sp {
                    margin-left: 15px;
                }
            }
        }
        a {
            text-decoration: none;
            font-size: 1.6rem;
            color: $color1;
            display: inline-block;
            padding: 10px;
            border-bottom: 1px solid transparent;
            &:hover, &.active {
                border-bottom: 1px solid $color1;
                opacity: 1;
            }
        }
        @include sp {
            height: 0;
            overflow: hidden;
            transition: .25s ease-in-out;
            position: fixed;
            width: 100%;
            top: 60px;
            left: 0;
            background-color: #fff;
            display: flex;
            align-items: center;
            &.isActive {
                height: calc(100vh - 60px);
            }
            ul {
                width: 100%;
                text-align: center;
                li {
                    display: block;
                    margin: 0 0 15px 0;
                }
            }
        }
    }
    &__icon {
        display: none;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: $color1;
            position: absolute;
            left: 0;
            transition: .25s ease-in-out;
            transform: rotate(0deg);
            transform-origin: left center;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 13px;
            }
            &:nth-child(3) {
                top: 27px;
            }
        }
        @include sp {
            display: block;
        }
        &.isActive {
            span {
                &:nth-child(1) {
                    top: 0;
                    left: 2px;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                    width: 0;
                }
                &:nth-child(3) {
                    top: 21px;
                    left: 2px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}